@import "./src/content/_variables.scss";
.tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 0.625rem 1.875rem;
    background-color: #CECECE;
    display: block;
}

#chart {
    padding-top: 2.5rem;
}