    @import "./src/content/_variables.scss";
    aside {
        height: $max-app-height;
    }
    
    .row {
        app-side-nav {
            padding-left: 30px;
        }
        section {
            height: $max-app-height;
            button {
                width: 3.125rem;
            }
        }
    }