ul {
    height:11.88rem;
    list-style-type: none;
    border: 1px solid #9C9C9C;
    padding:0;
    
    li {
        text-align: left;
        align-items: center;
        border: 1px solid #9C9C9C;
        background-color: #eceeef;
    }
    span {
        float: right;
    }
}