/* You can add global styles to this file, and also import other style files */

@import "./src/content/_variables.scss";
@import "./node_modules/bootstrap/scss/_variables.scss";
@import "./node_modules/bootstrap/scss/mixins/_breakpoints.scss";
html {
    height: $max-app-height;
    width: $max-app-width;
    max-height: 100%;
    max-width: 100%;
    .row {
        margin-right: 0 !important;
    }
    .col-sm-10 {
        padding-right: 0 !important;
    }
    @include media-breakpoint-up(md) {
        font-size: 12px;
    }
    @include media-breakpoint-up(lg) {
        font-size: 13px;
    }
    @include media-breakpoint-up(xl) {
        font-size: 14px;
    }
    @include media-breakpoint-up(xxl) {
        font-size: 15px;
    }
    @include media-breakpoint-up(xxxl) {
        font-size: 16px;
    }
    body {
        -webkit-appearance: none;
        background: $base-background;
    }
    input {
        padding: 0;
        border: none !important;
        outline: none;
        box-shadow: none;
    }
    .loader {
        background: $base-background;
        width: 100vw;
        height: 100vh;
        &:before {
            margin-left: 40vw;
            margin-bottom: 100vh;
            font-family: FontAwesome;
            content: "\f155";
            font-size: 30rem;
            color: #1F4F37;
            animation: loader 1.5s infinite;
        }
    }
    @keyframes loader {
        0% {
            opacity: 0;
        }
        25% {
            opacity: 0.25;
        }
        50% {
            opacity: 0.5;
        }
        75% {
            opacity: 0.75;
        }
        100% {
            opacity: 1;
        }
    }
    .no-data {
        border: 1px solid black;
        height: 600px;
        &:before {
            position: absolute;
            left: 30%;
            top: 50%;
            font-family: FontAwesome;
            content: '\f071 No data!';
            color: red;
            font-size: 50px;
        }
    }
    .tooltip {
        position: absolute;
        width: auto;
        height: auto;
        padding: 0.625rem 1.875rem;
        background-color: #CECECE;
        display: block;
    }
    .modal-body {
        ul {
            list-style: none;
            li {
                span {
                    cursor: pointer;
                }
            }
        }
    }
}