@import "./src/content/_variables.scss";
.table-striped {
    border: 1px solid $border-grey-color;
    margin-bottom: 0 !important;
    thead {
        height: $form-header-height;
        display: block;
        tr {
            outline: 1px solid $border-grey-color;
            th:last-child {
                min-width: 5.375rem;
            }
        }
    }
    tbody {
        max-height: ($max-app-height - $add-product-form-tbody - $form-header-height + $add-product-form-margin);
        display: block;
        overflow-y: auto;
        tr:not(:first-of-type) {
            td {
                border-top: 1px solid $border-grey-color
            }
        }
    }
}