<table class="col-sm table table-striped">
    <thead class="thead-default">
        <tr>
            <th style="width:40%">Description</th>
            <th style="width:40%">Category</th>
            <th style="width:20%">{{title}}</th>
            <th style="width:20%"></th>
        </tr>
    </thead>
    <tbody [product]="product" appNoData>
        <tr role="row" *ngFor="let product of product ">
            <td style="width:40%">{{product.Description}}</td>
            <td style="width:40%">{{product.Category.name}}</td>
            <td style="width:20%">{{product.Spending}}</td>
            <td style="width:20%"><button class="btn btn-sm btn-warning"> Edit</button></td>
        </tr>
    </tbody>
</table>