@import "./src/content/_variables.scss";
@import "./node_modules/bootstrap/scss/mixins/_breakpoints.scss";
.table {
    border: 1px solid $border-grey-color;
    margin-bottom: 0 !important;
    height: $max-app-height;
    @include media-breakpoint-down(sm) {
        padding: 0;
    }
    thead {
        display: block;
        height: $form-header-height;
        tr {
            outline: 1px solid $border-grey-color;
            th {
                height: $form-header-height;
                border-bottom: none;
                background-color: $modal-background-subcolor !important;
                color: $modal-text-color !important;
                &:last-child {
                    min-width: 5.375rem;
                }
            }
        }
    }
    tbody {
        max-height: ( $max-app-height - $add-product-form-tbody - $form-header-height);
        display: block;
        overflow-y: auto;
        tr {
            color: $label-grey-color;
            background-color: $modal-background-color;
            &:not(:first-of-type) {
                td {
                    border-top: 1px solid $border-grey-color
                }
            }
        }
    }
}