<div class="container col offset-sm-4">
    <div id="form-container" class="text-center">
        <h2>Registration</h2>
        <form [formGroup]="registrationForm" (ngSubmit)=" addUser()" novalidate>
            <div class="form-group" formGroupName="Name">
                <label for="First">First</label>
                <i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>
                <input type="text" formControlName="First" class="form-control" placeholder="First" />
                <label for="Last">Last</label>
                <div *ngIf="formFields.Name.First" class="alert alert-danger">
                    {{ formFields.Name.First }}
                </div>
                <i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>
                <input type="text" formControlName="Last" class="form-control" placeholder="Last" />
                <div *ngIf="formFields.Name.Last" class="alert alert-danger">
                    {{ formFields.Name.Last }}
                </div>
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>
                <input type="text" formControlName="Email" class="form-control" placeholder="Email" />
                <div *ngIf="formFields.Email" class="alert alert-danger">
                    {{ formFields.Email }}
                </div>
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                <input type="Password" formControlName="Password" class="form-control" placeholder="Password" />
                <div *ngIf="formFields.Password" class="alert alert-danger">
                    {{ formFields.Password }}
                </div>
            </div>
            <div class="form-group">
                <label for="Image">Image</label>
                <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                <input type="file" (change)="fileChange($event)" formControlName="Image" class="form-control" accept=".png" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" [disabled]="!registrationForm.valid">Login</button>
            </div>
        </form>
    </div>
</div>