$max-app-height: 100vh;
$max-app-width: 100vw;
$max-container-height: ($max-app-height - 7vh);
$add-product-form-tbody: 3vh;
$add-product-form-margin: 1vh;
$standard-margin: 0.9375rem;
$form-header-height:5vh;
$border-grey-color: #9C9C9C;
$background-grey-color: #907878;
$label-grey-color: #eceeef;
$modal-background-color: #464646;
$modal-background-subcolor: lighten($modal-background-color, 20%);
$modal-text-color: #292b2c;
$logo-height: 2vh;
$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px, xxxl: 1920px) !default;
$base-background:#000;
$active-color:#f0ad4e;