$max-app-height: 99vh;
$max-app-width: 98vw;
$max-container-height: ($max-app-height - 7vh);
$add-product-form-tbody: 3vh;
$add-product-form-margin: 1vh;
$standard-margin: 0.9375rem;
$form-header-height:5vh;
// $calculate-list-height: 5vh;
$border-grey-color: #9C9C9C;
$background-grey-color: #907878;
$label-grey-color: #eceeef;
// $side-nav-height: 4vh;
$side-nav-background: #303D3D;
$side-nav-li-color: lighten($side-nav-background, 20%);
$logo-height: 2vh;
$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px, xxxl: 1920px) !default;