$max-app-height: 35.13rem;
$add-product-form-tbody: 4.688rem;
$add-product-form-margin: 1rem;
$standard-margin: 0.9375rem;
$form-header-height:3.125rem;
$calculate-list-height: 11rem;
$border-grey-color: #9C9C9C;
$background-grey-color: #907878;
$label-grey-color: #eceeef;