<aside>
    <h2><i class="fa fa-money" aria-hidden="true"></i>Finance System</h2>
    <img class="img-fluid rounded-circle img-thumbnail mx-auto d-block" alt="Responsive image" src="{{getImg}}">
    <h2 class="text-center">{{user.Name.First}} {{user.Name.Last}}</h2>
    <ul class="row d-flex">
        <li [routerLink]="'/compare'" [routerLinkActive]="['active']" class="p-2 col-sm-12"><i class=" fa fa-clone " aria-hidden="true "></i>Compare</li>
        <li [routerLink]="'/product/Spending'" [routerLinkActive]="['active']" class="p-2 col-sm-12"><i class="fa fa-list " aria-hidden="true "></i>Spending list</li>
        <li [routerLink]="'/product/Profit'" [routerLinkActive]="['active']" class="p-2 col-sm-12"><i class="fa fa-list-alt" aria-hidden="true "></i>Profit list</li>
        <li class="p-2 col-sm-12 "><i class="fa fa-file-text " aria-hidden="true "></i>Generate raport</li>
        <li (click)="childModal.showModal();" class="p-2 col-sm-12 "><i class="fa fa-clock-o " aria-hidden="true "></i>{{calculateService.filterDate}}</li>
        <li [routerLink]="'/login'" (click)="authenticationService.logout();" class="p-2 col-sm-12"><i class="fa fa-sign-out" aria-hidden="true "></i>Logout</li>
    </ul>
</aside>
<app-side-nav-date-modal #childModal></app-side-nav-date-modal>