<aside>
    <h2><i class="fa fa-money" aria-hidden="true"></i>Finance System</h2>
    <ul class="row d-flex">
        <li class="p-2 col-sm-12"><i class="fa fa-user-circle" aria-hidden="true"></i>User</li>
        <li class="p-2 col-sm-12"><i class="fa fa-list" aria-hidden="true"></i>Spending list</li>
        <li [routerLink]="navigateUrl.Url" class="p-2 col-sm-12" (click)="changeNavigateUrl()"><i class="fa fa-clone" aria-hidden="true"></i>{{navigateUrl.name}}</li>
        <li class="p-2 col-sm-12"><i class="fa fa-file-text" aria-hidden="true"></i>Generate raport</li>
        <li class="p-2 col-sm-12"><i class="fa fa-clock-o" aria-hidden="true"></i>
            <input type="month" min="2017-01" max="2017-03" (change)="getProducts(calculateService.filterDate)" [(ngModel)]="calculateService.filterDate" /></li>
    </ul>
</aside>

<app-side-nav-date-modal></app-side-nav-date-modal>