@import "./src/content/_variables.scss";
        aside {
            margin-top: 5px;
            background: $label-grey-color;
            height:$max-app-height;
            margin-right: -15px;
            border: 1px solid $border-grey-color;
           ul {
            margin-left: 0 !important;
            margin-right: 0 !important;
            height: 13.4rem;
            list-style-type: none;
            padding: 0 !important;
            li {
                text-align: left;
                align-items: center;
                border: solid $border-grey-color;
                border-width: 1px 0;
                background-color: $label-grey-color;
                &:first-child {
                    border-top:0;
                }
            }
        }     
        }
        
    