$enable-flex: true !default;
body {
-webkit-appearance:none;
}
.table-striped  {
    thead{
        display: block;
    }
    tbody {
        max-height:600px;
        display: block;
        overflow-y:auto;
    }
}
input {
    
    padding: 0;
    border:none;
    outline: none;
    box-shadow: none;
}