<header>
<input type="month" [(ngModel)]="filterargs"/>
</header>
<section>
    <div class="container">
  <div class="row">
<table class="col-sm table table-striped">
<thead class="thead-default">
     <tr >
         <th class="col-sm-4">Description</th>
         <th class="col-sm-4">Category</th>
         <th class="col-sm-4">Spending</th>
         <th class="col-sm-4"></th>
     </tr>
</thead>
<tbody>
     <tr  *ngFor="let product of (products | dateFilter: filterargs)">
         <td class="col-sm-4">{{product.description}}</td>
         <td class="col-sm-4">{{product.categories.name}}</td>
         <td class="col-sm-4">{{product.spending}}</td>
         <td class="col-sm-4"></td>
     </tr>
</tbody>
</table>
<form  (ngSubmit)="addProduct()" [formGroup]="addProductForm">
    <table class="wrapper">
    <tr class="column-12">
    <td class="column-4"><div class="form-group">
        <input class="form-control Products" type="text" name="Description" formControlName="Description" placeholder="Description" required>
    </div></td>
    <td class="column-4"><div class="form-group">
        <select formControlName="categoryId" name="categoryId">
    <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
</select>
    </div></td>
    <td class="column-3"><div class="form-group">
        <input class="form-control" type="number" name="Spending" formControlName="Spending" placeholder="Spending" step="any"
            required>
    </div></td>
    <td  class="column-1"><button class="btn btn-sm btn-warning" type="submit"><i class="fa fa-times"></i> save</button></td></tr>
    </table>
</form>
  </div>
    </div>
<div>{{sumOfProfitAndSpending}}</div>
</section>
<footer>{{currentBudget}}</footer>
<app-chart></app-chart>