$enable-flex: true !default;

.table-striped  {
    thead{
        display: block;
    }
    tbody {
        max-height:600px;
        display: block;
        overflow-y:auto;
    }
}
input {
    padding: 0;
    border:none;
    outline: none;
}