version: "2"
services: 
  web:
   container_name: server-side
   build: .
   ports:
   - "80:80"
   - "443:443"
   links:
    - mongo
  mongo:
    container_name: mongo-db
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - /data/mongodb:/data/db/
    command: --auth