<form class="add-product-form" [formGroup]="addProductForm" (ngSubmit)="addProduct()" novalidate>
    <table class="table">
        <tbody>
            <tr>
                <td style="width:40%">
                    <div class="form-group">
                        <input class="form-control" type="text" formControlName="Description" placeholder="Description" required>
                        <div *ngIf="formErrors.Description" class="alert alert-danger">
                            {{ formErrors.Description }}
                        </div>
                    </div>
                </td>
                <td style="width:40%">
                    <div class="form-group">
                        <select formControlName="categoryId" [(ngModel)]="defaultSelectValue">
                                    <option disabled hidden [value]="''">Category</option>
                                    <option *ngFor="let category of categories" [value]="category._id">{{category.name}}</option>
                                </select>
                        <div *ngIf="formErrors.categoryId" class="alert alert-danger">
                            {{ formErrors.categoryId }}
                        </div>
                    </div>
                </td>
                <td style="width:20%">
                    <div class="form-group">
                        <input class="form-control" type="number" formControlName="Spending" placeholder="{{title}}" step="any" required>

                        <div *ngIf="formErrors.Spending" class="alert alert-danger">
                            {{ formErrors.Spending }}
                        </div>
                    </div>
                </td>
                <td style="width:20%"><button class="btn btn-sm btn-warning" type="submit" [disabled]="!addProductForm.valid"> save</button></td>
            </tr>
        </tbody>
    </table>
</form>