<form class="add-product-form" [formGroup]="addProductForm" (ngSubmit)="submit()" novalidate>
    <table class="table">
        <tbody>
            <tr>
                <td style="width:40%">
                    <div class="form-group">
                        <input class="form-control" type="text" formControlName="Description" placeholder="Description">
                        <div *ngIf="formFields.Description" class="alert alert-danger">
                            {{ formFields.Description }}
                        </div>
                    </div>
                </td>
                <td style="width:40%">
                    <div class="form-group">
                        <select formControlName="categoryId">
                                    <option disabled hidden [value]="''">Category</option>
                                    <option *ngFor="let category of categories" [value]="category._id">{{category.name}}</option>
                                </select>
                        <div *ngIf="formFields.categoryId" class="alert alert-danger">
                            {{ formFields.categoryId }}
                        </div>
                    </div>
                </td>
                <td style="width:20%">
                    <input class="form-control" type="number" formControlName="incomeStatement" placeholder="{{type}}" step="any">
                    <div *ngIf="formFields.incomeStatement" class="alert alert-danger">
                        {{ formFields.incomeStatement }}
                    </div>
                </td>
                <td style="width:20%"><button class="btn btn-sm btn-warning" type="submit" [disabled]="!addProductForm.valid"> save</button></td>
            </tr>
        </tbody>
    </table>
</form>