 @import "./src/content/_variables.scss";
 form {
     tr {
         border: 1px solid $border-grey-color;
         background-color: $background-grey-color;
         td {
             padding-bottom: 0px;
         }
         td:last-child {
             padding-right: 1.875rem;
         }
         input,
         select {
             padding: 0.25rem;
         }
     }
     .alert-danger {
         position: absolute;
     }
 }
 
 .add-product-form {
     position: absolute;
     top: ($max-app-height - $add-product-form-tbody);
     margin-right: $standard-margin;
     table {
         margin-top: $add-product-form-margin;
         tbody {
             height: $add-product-form-tbody;
         }
     }
 }