 @import "./src/content/_variables.scss";
 @import "./node_modules/bootstrap/scss/mixins/_breakpoints.scss";
 form {
     @include media-breakpoint-down(sm) {
         padding: 0;
         margin: 0 !important;
     }
     tr {
         border: 1px solid $border-grey-color;
         background-color: $modal-background-subcolor;
         td {
             padding-bottom: 0px;
         }
         td:last-child {
             padding-right: 1.875rem;
         }
         input,
         select {
             padding: 0.25rem;
         }
     }
 }
 
 .add-product-form {
     position: absolute;
     bottom: 0;
     margin-right: $standard-margin;
     table {
         margin-bottom: 0;
         height: $add-product-form-tbody;
         @include media-breakpoint-down(sm) {
             height: inherit;
         }
     }
 }