/* You can add global styles to this file, and also import other style files */
@import "./node_modules/bootstrap/scss/_variables.scss";
@import "./node_modules/bootstrap/scss/mixins/_breakpoints.scss";
$enable-flex: true !default;
html {
    width:98%;
@include media-breakpoint-up(xs) {
         font-size: 12px;
     }
@include media-breakpoint-up(sm) {
         font-size: 13px;
     }
@include media-breakpoint-up(md) {
         font-size: 14px;
     }
@include media-breakpoint-up(lg) {
         font-size: 15px;
     }
@include media-breakpoint-up(xl) {
         font-size: 16px;
     }
}
 input {
    
    padding: 0;
    border:none !important;
    outline: none;
    box-shadow: none;
}